


        <div class="flex justify-content-between bg-gray-50 shadow-2 w-full h-15rem border-round mb-2 pointer">
            <div class="flex flex-column">
                    <div class="p-3 grid gap-3">
                        <img 
                            class="w-6rem h-5rem border-circle"
                            src="https://cdn.dribbble.com/userupload/2641917/file/original-eebdcaf8f1b014a0d1c66e8cd3d86257.png?resize=1600x1200" 
                            alt="logo"/>
                            <p class="text-xl font-bold">Thaok Thaok</p>
                    </div>
                    <p class="p-3 font-bold">{{todayDate | date}}</p>
                 
            </div>
            
            <div class="flex flex-column mt-2">
                <img 
                class="w-5rem h-4rem border-circle"
                src="https://4.bp.blogspot.com/--4_YU5Kj9sA/UJwG5CftTaI/AAAAAAAACTk/CxGXQGz3oyU/s1600/National+flag+of+Cambodia+flag+(3).png" alt="img">
            </div>
        </div>
    
