<div class="card">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
</div>

<div>
    <div class="pointer flex gap-3 justify-content-evenly mt-8 mb-8 shadow-1">
        <div class="flex justify-content-center align-items-center bg-green-500 w-20rem h-15rem border-round ">
            Total Products: 
        </div>
        <div class="flex justify-content-center align-items-center bg-blue-300 w-20rem h-15rem border-round ">
            Total Categories:  
        </div>
        <div class="flex justify-content-center align-items-center bg-red-300 w-20rem h-15rem border-round ">
            Total Stock: 
        </div>
        <div class="flex justify-content-center align-items-center bg-orange-400 w-20rem h-15rem border-round ">
            Other: 
        </div>
    </div>
    
</div>


